# fly.toml app configuration file generated for geppetto-tts on 2024-03-11T12:46:59-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'geppetto-tts'
primary_region = 'lax'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  [http_service.concurrency]
    type = "requests"
    hard_limit = 10
    soft_limit = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 4
